#div1 {
    background-color: #ff0000;
    height: 50px;
    width: 50px;
    border: solid #008000 2px;
    padding-top: 100px;
}
#div2 {
    background-color: #000000;
    height: 50vh;
    width: 50%;
    border: #ff0000 10px dashed;
    padding-top:100px ;
    padding-left: 100px;
}