#div1 {
    background-color:#8b4513;
    width: 70%;
    height: 250px;
    border: #000000 15px groove;
}
#div2 {
    background-color: #ffffff;
    width: auto;
    height: 100px;
    margin: 50px;
    border: #00008b 15px groove;
}
p {
    color: #00008b;
    font-family: Arial;
    font-weight: bold;
    justify-content: center;
    display: flex;
    padding: 30px;
    
}
#div3 {
    background-color: #00008b;
    width: 75%;
    height: 30px;
    justify-content: center;
    margin:100px;
    margin-top: 100px;
    margin-bottom: 0;
}
#div4 {
    background-color:#8a2be2;
    width: 50%;
    height: 30px;
    justify-content: center;
    margin: 0;
    margin-left: 20%;    
}
#div5 {
    background-color: #008000;
    height: 30px;
    width:60%;
    justify-content: center;
    margin:0;
    margin-left: 15%;
}
#div6 {
    background-color: #ffff00;
    height: 30px;
    width: 55%;
    justify-content: center;
    margin: 0;
    margin-left: 18%;
}
#div7 {
    background-color: #ff0000;
    height: 30px;
    width: 40%;
    margin-top: 10%;
    float:inline-start;
}
#div8 {
    background-color: #008b8b;
    height: 30px;
    width: 20%;
    float:right;
    
}
#div9 {
    background-color: #adff2f;
    height: 30px;
    width: 40%;
    float: right;
}