#div1 {
    background-color: #ffc0cb;
    width: 500px;
    height: 500px;
}
#div2 {
    background-color: #cb90ee;
    width: 250px;
    height: 250px;
}
p {
    background-color: #bbe914;
    color: #ffffff;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold 500;
}
#div3 {
    background-color: #c90e0e;
    width: 50%;
    height: 50vh;
}
#div4 {
    background-color: #b6ec21;
    width: 75vw;
    height: 50%;
}